<div style="margin-top: 10px;">
    <h1>Hello, World!</h1>
    <ul>
        <li>Have you heard of Tiger Center? Try it ... or else ...
          <a href="https://tigercenter.rit.edu/tigerCenterHome/#/landing" target="_blank">Yes, Sir!</a>
        </li>
        <li>
          Click <a href="http://localhost:3000/farewell/goodbye">here</a>
          once you've read everything else on this page ...
        </li>
        <li>Ping Pong!</li>
        <img src="/assets/ping_pong.jpg" alt="" />
        <li>I hope to broaden my horizons in regards to web development. I'm very familiar with how web
            development works and how to use Angular and Node, however I'm excited to learn about other
            technologies as well (such as this one, Ruby on Rails)!
        </li>
    </ul>
</div>
